{% extends 'base_layout.html' %}

{% block content %}
    <h1>Symptoms I added</h1>
    <table class="">
        <tr>
            <th>slug</th>
            <th>name</th>
            <th>added_by</th>
            <th>parent</th>
            <th>obo URI</th>
        </tr>
        {% for elem in symptoms_added_by_me %}
            <tr>
                <td><a href="{% url 'ois_app:symptom_detail' slug=elem.name_slug %}">{{ elem.name_slug }}</a></td>
                <td>{{ elem.name }}</td>
                <td>{{ elem.added_by.user.username }}</td>
                <td>{% if elem.parent %}<a href="{% url 'ois_app:symptom_detail' slug=elem.parent.name_slug %}">{{ elem.parent.name_slug }}</a>{% else %}None{% endif %}</td>
                <td><a target="_blank" href="http://purl.obolibrary.org/obo/{{ elem.uri }}">{{ elem.uri }}</a></td>
            </tr>
        {% endfor %}
    </table>
    {% if not symptoms_added_by_me %}
        List is empty
    {% endif %}
    <br/>
    <form action="{% url 'ois_app:symptom_create' %}">
        <input type="submit" value="Create new symptom">
    </form>
    <br/><br/>
    <h1>Other Symptoms</h1>
    <table class="">
        <tr>
            <th>slug</th>
            <th>name</th>
            <th>added_by</th>
            <th>parent</th>
            <th>obo URI</th>
        </tr>
        {% for elem in symptoms_rest %}
            <tr>
                <td><a href="{% url 'ois_app:symptom_detail' slug=elem.name_slug %}">{{ elem.name_slug }}</a></td>
                <td>{{ elem.name }}</td>
                <td>{{ elem.added_by.user.username }}</td>
                <td>{% if elem.parent %}<a href="{% url 'ois_app:symptom_detail' slug=elem.parent.name_slug %}">{{ elem.parent.name_slug }}</a>{% else %}None{% endif %}</td>
                <td><a target="_blank" href="http://purl.obolibrary.org/obo/{{ elem.uri }}">{{ elem.uri }}</a></td>
            </tr>
        {% endfor %}
    </table>
    {% if not symptoms_rest %}
        List is empty
    {% endif %}

{% endblock %}
