
.rowSelectable {
}

.rowSelectable > tr:hover {
    background-color: aqua;
}

.trSelected {
    background-color: #8fcafe;
}



input:read-only {
	background-color: #ffffff85;
	border-style: solid;
}

.cover-container {
   margin-top: 100px;
   margin-bottom: 50px;
}

.masthead {
	background: #303030d4;
}