{% extends 'base_layout.html' %}

{% block content%}

<h1>Patient portal</h1>
<h2>Symptoms</h2>
<div id="symptoms-table">(This content should be replaced by javascript.)</div>

<h2>Possible diseases</h2>
...

<script type="application/javascript">
    const symptomsTable = document.getElementById("symptoms-table");
    const xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            symptomsTable.innerHTML = this.responseText;
        }
    };
    xhttp.open("GET", "/accounts/get_all_patient_symptom", true);
    xhttp.send();
</script>

{% endblock %}