{% extends 'base_layout.html' %}

{% block content%}

<h1>Patient portal</h1>
<h2>Symptoms</h2>
<table id="symptomTableContent" style="width:100%"></table>
<button onclick="window.location.href = 'add_new_symptom_to_patient';">Add symptom to my patient profile</button>

<h2>Possible diseases</h2>
...

<script type="application/javascript">
    const get_all_disease = badGet("get_all_disease")
    console.log(get_all_disease)

    const xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            //symptomsTable.innerHTML = this.responseText;
            let obj = JSON.parse(this.responseText)
            let symptomTableContent = document.getElementById("symptomTableContent")
            symptomTableContent.innerHTML = 
            `<tr>
        <th>diagnosis#</th>
        <th>symptom</th>
        <th>start_date</th>
        <th>end_date</th>
        <th>severity</th>
        <th>remove</th>
    </tr>`
            for (let prop in obj) {
                if (obj.hasOwnProperty(prop)) {
                    let el  = obj[prop]
            		let tr = document.createElement("tr")
                    let td = null
                    let start_date = el["start_date"] || ""
                    let end_date = el["end_date"] || ""

                    // Open for XSS attacks:
                    td = document.createElement("td"); td.innerHTML = `<input name="diagnosis" readonly type='text' value='${prop}'/>`;tr.appendChild(td)
                    td = document.createElement("td"); td.innerHTML = `<input name="symptom" readonly type='text' value='${el["symptom"]}'/>`; tr.appendChild(td)
                    td = document.createElement("td"); td.innerHTML = `<input name="start_date" type='text' value='${start_date}' style="width:99px;"/>`; tr.appendChild(td)
                    td = document.createElement("td"); td.innerHTML = `<input name="end_date" type='text' value='${end_date}' style="width:99px;"/>`; tr.appendChild(td)
                    td = document.createElement("td"); td.innerHTML = `<input name="severity" type='number' value='${el["severity"]}' style="width:60px;"/>`; tr.appendChild(td)
                    td = document.createElement("td"); td.innerHTML = "<button>Remove</button>"; tr.appendChild(td)
                    symptomTableContent.appendChild(tr)
                }
            }
            let getTableRowValues = function(tableRow){
                const ret = new FormData();
                ret.append("diagnosis", tableRow.querySelector("[name=diagnosis]").value)
                ret.append("symptom", tableRow.querySelector("[name=symptom]").value)
                ret.append("start_date", tableRow.querySelector("[name=start_date]").value)
                ret.append("end_date", tableRow.querySelector("[name=end_date]").value)
                ret.append("severity", tableRow.querySelector("[name=severity]").value)
                return ret
            };
            symptomTableContent.addEventListener("change", function(evt){
                console.log(evt.target);
                var data = getTableRowValues(evt.target.closest("tr"))
                console.log(data)
                const xhttp2 = new XMLHttpRequest();
                xhttp2.open("POST", "/accounts/update_diagnosis", true);
                xhttp2.send(data);
            })
        }
    };
    xhttp.open("GET", "/accounts/get_all_patient_symptom", true);
    xhttp.send();
</script>

{% endblock %}